<%= form_for(@user,{url:sessions_path}) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row signin">
    <div class="col-md-4"></div>
    <div class="col-md-4 form-group divform">
      <%= f.text_field :username, :class => "form-control", :placeholder =>  "username" %><br>
      <div class="form-inline"> <%= f.password_field :password, :id => "password", :class => "form-control password", :placeholder => "Password"%>
      <%= f.submit "Log in", :class => "btn btn-default pull-right"%>
      <% if flash[:notice] %><br><br>
        <div class="text-center bg-danger"><%= flash[:notice] %></div>
      <% end %>
      </div>
    </div>
<% end %>
    <br>
  <div class="col-md-4"></div>
  </div>
  <div class="col-md-4"></div>
  <div class="col-md-4 form-group divform">
<%= form_for(@user) do |f| %>
  <br>
  <%= f.text_field :username, :placeholder =>"username" , :class => "form-control"%><br>
  <%= f.password_field :password, :placeholder =>"Password" , :class => "form-control"%><br>
    <div class="form-inline">
      <%= f.password_field :password_confirmation, :placeholder =>"Password Confirmation" , :class => "form-control password"%>
      <%= f.submit "Sign up", :class => "btn btn-default pull-right"%>
    </div>
  </div>  
  <div class="col-md-4"></div>
<% end %>