<%= form_for(@stream,{method: :create}) do |f| %>
	<%= f.text_field :name, :placeholder => "Stream Name"%>
	<%= f.hidden_field :user_id, :value => current_user.id%>
	<%= f.submit "Create Stream"%>
<% end %>

<% unless @streams.blank? %>
	<% @streams.each do |stream|%>
		<% if stream.user_id == @user.id%>
			<%= stream.name %><br>
			<a href="<%=stream.url%>" target="_blank"><img src="<%=stream.url%>"></a><br>
			<% if stream.user_id == current_user.id%>
				<%= button_to "Delete", delete_stream_path(:stream => stream.id), method: :delete%><br>
			<% end %>
		<% end %>
	<% end %>	
<% else %>
	<p>you has none</p>
<% end %>
