<%= form_for(@stream,{method: :create}) do |f| %>
	<%= f.text_field :name, :placeholder => "Stream Name"%>
	<%= f.hidden_field :user_id, :value => current_user.id%>
	<%= f.submit "Create Stream"%>
<% end %>

<% unless @streams.blank? %>
	<% @streams.each do |stream|%>
		<% if stream.user_id == @user.id%>
			<%= stream.name %><br>
			<%= link_to "edit", edit_stream_path(stream)%><br>
		<% end %>
	<% end %>	
<% else %>
	<p>you has none</p>
<% end %>
