<div id="floating-header">
	<div id="header">
		<div id="logo_small"></div>

			<span id="user_header">
				<% if current_user %>
			  	<%= link_to "log out", logout_path %>
				<% end %>
			</span>
		</div>

	</div>
</div>

<div id="streamGrid">

		<div class="gifHolderShow">
			<img src="" class="gifClass" id="createBG" />		
			<div id='newStreamForm'>
				<div id="streamHeader">create a stream</div>
				<%= form_for(@stream,{method: :create}) do |f| %>
				<div><%= f.text_field :name, :placeholder => "stream name", :id => "createStreamField"%></div>
				<%= f.hidden_field :user_id, :value => current_user.id%>
				<div><%= f.submit "create stream", :id => "createStream"%></div>
					<% end %>
			</div>
		</div>
			
		<% @streams.each do |stream| %>
			<div class="gifHolderShow">
				<a href="<%= stream.url %>" target="_blank"><img src="<%= stream.url %>" class="gifClass" /></a>
				<div id="smallStreamName">
					<%= stream.name %>
				</div>
				<div><a href="//www.facebook.com/sharer.php?u=<%= stream.url %>">Share this on facebook</a></div>
<%= button_to 'delete', delete_stream_path(:stream => stream.id), method: :delete, :class=> 'hideButton'%>


			</div>
		<%end%>	

</div>






</div>

