<div id="floating-header">
	<div id="header">
		<div id="logo_small"></div>

			<span id="user_header">
				<% if current_user %>
			  	<span class="space"><%= link_to "log out", logout_path %></span>
				<% end %>
			</span>
		</div>

	</div>
</div>

<div id="streamGrid">

		<div class="gifHolderShow">
			<img src="" class="gifClass" id="createBG" />		
			<div id='newStreamForm'>
				<div id="streamHeader">create a stream</div>
				<%= form_for(@stream,{method: :create}) do |f| %>
				<div><%= f.text_field :name, :placeholder => "", :id => "createStreamField"%></div>
				<%= f.hidden_field :user_id, :value => current_user.id%>
				<div><%= f.submit "create stream", :id => "createStream"%></div>
					<% end %>
			</div>
		</div>
			
		<% @streams.each do |stream| %>
			<div class="gifHolderShow">
				
				
					<a href="<%= stream.url %>" target="_blank" ><img src="<%= stream.url %>" /></a>
				

				<div id="smallStreamName">
					<%= stream.name %>
				</div>

				<div class="facebookButton">

				<a href="//www.facebook.com/sharer.php?u=<%= stream.url %>">

					<i class="fa fa-facebook-square fa-1x" id="facebookIcon"></i>

				</a>

				</div>
				<span class="imgurLink">http:<%= stream.url %></span>
		<div class="button_to_icon">
			<%= button_to '', delete_stream_path(:stream => stream.id), method: :delete, :class => 'hideButton'%>
			<i class="fa fa-trash" class="moveUpIcon"></i>
		</div>


			</div>
		<%end%>	

</div>






</div>

