<h1>Users#show</h1>

<% unless @streams.blank? %>
	<% @streams.each do |stream|%>
		<% if stream.user_id == @user.id%>
			<%= stream.stream %><br>
			<%= stream.name %><br>
			<%= stream.description %><br>
			<%= link_to "edit", edit_stream_path(stream)%><br>
		<% end %>
	<% end %>	
<% else %>
	<p>you has none</p>
<% end %>


<%= link_to "Add a Stream", new_stream_path  %>