<!DOCTYPE html>
<html>
<head>
  <title>Piknik</title>
<<<<<<< HEAD
  
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
=======
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
>>>>>>> master
 
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
 
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
<<<<<<< HEAD
  
 
  
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
=======
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
>>>>>>> master
 
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
 
<<<<<<< HEAD
  <script src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.8/fabric.min.js"></script>

  <script src="/assets/gif.js"></script>

  <script src="/assets/gif.worker.js"></script>
  
=======
  <script src="//cdnjs.cloudflare.com/ajax/libs/fabric.js/1.4.8/fabric.min.js"></script>
>>>>>>> master
  <%= csrf_meta_tags %>
 

</head>
<body>
	


	<div id="user_header">
		<% if current_user %>
		  Logged in as <%= link_to current_user.username, user_path(current_user) %>.
		  <%= link_to "Log Out", logout_path %>
		
		<% end %>
	</div>


<%= yield %>

</body>
</html>
